{% extends 'global/base.html' %}

{%block content %}
    <div class="form-wrapper">
        <h2>contact</h2>
        <form
            action="{{form_action}}"
            method="POST"
            enctype="multipart/form-data"
            >
            {% csrf_token %}

            <div class="form-content">
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label}}">{{ field.label }}</label>
                    {{field}}
                    {{field.errors}}

                    {% if field.heap_text %}
                        <p class"help-text">{{ field.heap_text}}</p>
                    {% endif %}
                </div>


                {% if field.name == 'picture' and field.value.url %}
                    <div class= "forma-group">        
                        <img src = "Imagem_do_WhatsApp_de_2025-06-26_às_08.32.58_6fcfc122.jpg" alt='nada'>
                    </div>
                {% endif %}
                {% endfor %}    
            </div>



            <div class="form-content">
                <div class="form-group">
                    <button  class="btn" type="submit" >Send</button>
                </div>
            </div>
        </form>
    </div>

{% endblock content %}